h1 {
    margin-top: 60px;
}

#header_top {
    background: none;
    background-color: #81D4FF;
}

#news_heard {
    overflow: hidden;
    position: relative;
    width: 1200px;
    margin: 0 auto;
    padding-top: 50px;
}

#news_heard img {
    position: relative;
    width: 900px;
    left: 200px;
}

#news_heard p {
    position: absolute;
    right: 260px;
    line-height: 600px;
    top: 0px;
    color: #fff;
    font-size: 30px;
}

#news_heard p span {
    font-size: 24px;
}

main {
    width: 1200px;
    margin: 0 auto;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 60px;
}

main img {
    margin: 30px 0px;
}

h3 {
    font-size: 24px;
    text-align: center;
    font-weight: bolder;
    color: #fff;
    border-bottom: 1px dotted #fff;
    padding-bottom: 30px;
    margin-bottom: 30px;
}

main p {
    color: #fff;
    text-align: left;
    line-height: 30px;
    margin-top: 10px;
}