.people_p {
    width: 600px;
}

#index_role {
    width: 1200px;
    margin: 0 auto;
    margin-top: 60px;
}

#index_role ul {
    font-size: 0px;
    margin-top: 20px;
    margin-bottom: 60px;
}

#index_role ul li {
    display: inline-block;
    margin-left: 66px;
    width: 250px;
    margin-bottom: 60px;
}

#index_role ul li:nth-child(4n-3) {
    margin-left: 0px;
}

#index_role ul li p:nth-child(2) {
    color: #fff;
    font-size: 18px;
    font-weight: bolder;
    margin-top: 20px;
}

#index_role ul li p:nth-child(3) {
    color: #c2c2c4;
    font-size: 12px;
    margin-top: 10px;
    line-height: 26px;
}

#index_role ul li a {
    display: block;
    margin-top: 10px;
    font-size: 14px;
    color: #FF9D01;
}

#index_role ul li img {
    width: 100%;
    height: 380px;
}